<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="..public/css/styles.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title>TheGameStore</title>
  </head>
  <body>
    <header class="contenedor">
      <div id="top-header">
        <div id="logo">
          <img src="/img/logo.png" alt="Logo de TheGameStore" />
        </div>
        <div id="search-bar">
          <input type="text" placeholder="Buscar..." />
          <button type="submit">Buscar</button>
        </div>
        <div id="icons">
          <a href="#">
            <img src="/img/localizacion.png" alt="localizacion" />
          </a>
          <a href="#">
            <img src="/img/usuario.png" alt="user" />
          </a>
          <a href="#">
            <img src="/img/burbuja-de-dialogo.png" alt="chat" />
          </a>
          <a href="#">
            <img src="/img/carrito-de-compras.png" alt="carrito-de-compras" />
          </a>
          <a href="#">
            <img src="/img/entrega.png" alt="envio" />
          </a>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="#">Categorias</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Calcular envio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </nav>
    </header>




<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- Main content -->
<main>
  <div class="product-name">
    <h2>CATEGORÍA<i class="fa-solid fa-angle-right" style="color: #070707;"></i>Subcategoría<i class="fa-solid fa-angle-right" style="color: #060606;"></i>Producto</h2>
    <h1 >Mother Asrock Z390 Phantom Gaming 4S</h1>
  </div>
  <section class="content">
    
    
    <article class="gallery">
     
      <div class="gallery__image-container">
        <i class="fa-solid fa-angle-left" style="color: #0c0c0c;"></i><img src="../img/motherintel.jpg" alt="motherintel"><i class="fa-solid fa-angle-right" style="color: #0e0d0d;"></i>
      </div>
    
      <div class="gallery__thumnails">
        <img id= thumnail1 src="../img/thumnail1.jpg" alt="thumnail1">
        <img id= thumnail2 src="../img/thumnail2.jpg" alt="thumnail2">
        <img id= thumnail3 src="../img/thumnail3.jpg" alt="thumnail3">
      </div>

    </article>
    <article class="price__reviews">
      <h3> Características Técnicas</h3>
          <p class="extra">Plataforma INTEL</p>
          <p class="extra"> Socket 1151 Coffe Lake</p>
          <p class="extra">Chipsets Principal Intel Z390</p>
          <P class="price"> <i class="fa-solid fa-hand-holding-dollar" style="color: #472e76;"></i> </i>$85599</p><i class="fa-solid fa-circle-exclamation fa-beat-fade" style="color: #331f51;"></i>
          <p class="sale">$ 98750</p>
      <div class="reviews">
        <p class="valoraciones">4,5</p>
        <button class="btn_ranking">
          <p></p>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          
      </button>
      <p class="valoraciones"> Basado en 120 valoraciones</p>
      
      </div>
      
        <button class="add-to-car">
          Añadir al carrito
          <i class="fa-sharp fa-solid fa-cart-shopping"></i>
          
        </button>
      </div>  
      <br>
      <br>
      <br>
      <div class="service">
        <p><i class="fa-solid fa-shield-halved" style="color: #38bf36;"></i> Garantía - 12 meses</p>
        <p><i class="fa-solid fa-check" style="color: #38bf36;"></i> Stock disponible</p>
        <p><i class="fa-solid fa-cart-shopping"style="color: #38bf36;"></i> Envíos a todo el país.

        </p>
      </div>
      <br>
      <div class="extrainfo">
        <label for="quantity">Cantidad:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1">
      </div>
      <div class="extradetails">
        <details>
          <summary>Más Información</summary>
          <p>Información técnica adicional que se mostrará cuando se expanda el menú.</p>
        </details>
      </div>
    </article>

       
    <article class="details">
        
        <div class="details__description">
          <br>
          <br>
        <div class="caracteristicasgenerales">
          <h2> <i class="fa-solid fa-circle-right fa-flip" style="color: #472e76;"> </i>CARACTERISTICAS GENERALES</h2>
          <p> Plataforma INTEL</p>
          <p> Socket 1151 Coffe Lake</p>
          <p>Chipsets Principal Intel Z390</p>
          <P>Boton Bios Flashback:No</P><br></br>
          
        </div>
        <div class="conectividad">
          <h2><i class="fa-solid fa-circle-right fa-flip" style="color: #472e76;"> </i> CONECTIVIDAD</h2>
          <p>Cantidad De Slot Pci-e 16X:  2</p>
          <p>Cantidad De Slot Pci-e 1X :  3</p>
          <p>Tecnología Multi Gpu : 0</p>
          <p>Puertos Sata : 6</p><br></br>
        </div> 
        
        <div class="energia">
          <h2><i class="fa-solid fa-circle-right fa-flip" style="color: #472e76;"> </i>ENERGIA</h2>
          <p>Watts Máximos Para Cpu : 235</p>
          <p>Conectos Cpu 4Pines :1</p>
          <p>Conector Cpu 4Pines Plus :1</p>
          <p>Conector 24Pines : 1</p>
          <p>Consumo : 35w</p><br></br>
        </div>
        
        <div class="memoria">
          <h2><i class="fa-solid fa-circle-right fa-flip" style="color: #472e76;"> </i>MEMORIA</h2>
          <p>Tipo De Memoria : DDR4</p>
          <p>Cantidad De Slot De Memorias : 4</p>
        </div>
      



  </article>

</section>
  

</main>
      
      
    
        
            
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->          

    <!-- Footer -->

    
    <footer>
      <div class="footer-section">
        <h4>Medios de pago</h4>
        <div class="formas-pagos">
          <a href="#" class="formas-pago"
            ><img src="/img/visa.png" alt="tarjeta visa"
          /></a>
          <a href="#" class="formas-pago"
            ><img src="/img/master.png" alt="mastercard"
          /></a>
          <a href="#" class="formas-pago"
            ><img src="/img/amex.png" alt="amex card"
          /></a>
          <a href="#" class="formas-pago"
            ><img src="/img/paypal.png" alt="paypal"
          /></a>
          <a href="#" class="formas-pago"
            ><img src="/img/gpay.png" alt="gpay"
          /></a>
        </div>
      </div>
      <div class="footer-section">
        <h4>Síguenos en nuestras redes</h4>
        <div class="social-icons">
          <a href="#" class="social-icon"
            ><img src="/img/pngwing.com.png" alt="Facebook"
          /></a>
          <a href="#" class="social-icon"
            ><img src="/img/x.png" alt="Twitter"
          /></a>
          <a href="#" class="social-icon"
            ><img src="/img/instagram.png" alt="Instagram"
          /></a>
          <a href="#" class="social-icon"
            ><img src="/img/linkedin.png" alt="LinkedIn"
          /></a>
        </div>
        <!-- Contenido de la sección de redes sociales -->
      </div>
    </footer>
  </body>
</html>
