/* styles.css */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.products {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
}

.product-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.product {
  display: flex;
  align-items: center;
}

.product img {
  width: 100%;
  max-width: 200px; /* Tamaño máximo de la imagen */
  height: auto;
  object-fit: cover;
  margin-right: 20px;
}

.details {
  flex: 1;
}

.total {
  margin-top: 20px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cambiar el tamaño de las columnas en pantallas pequeñas */
  }

  .product img {
    max-width: 150px; /* Reducir el tamaño máximo de la imagen en pantallas pequeñas */
  }
}
