* {
  box-sizing: border-box;
}

main {
  background-color: white;
  padding-bottom: 15px;
}

form.loginForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: 180px;
  background-color: lightgrey;
  padding: 10px;
  margin: auto;
  margin-top: 15px;
}

#correo {
  width: 95%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-inline-start: 5%;
}

#clave {
  width: 95%;
  height: 30px;
  margin-bottom: 10px;
  padding-inline-start: 5%;
}

button {
  width: 50%;
  height: 30px;
  margin: auto;
}

#signUp {
  text-align: center;
  color: black;
  margin-top: 15px;
}

#resetPass {
  text-align: center;
  color: black;
  margin-top: 15px;
}

