/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.nosotros-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.nosotros {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nosotros h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.nosotros h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.category {
  margin-bottom: 20px;
}

.category h3 {
  color: #c78304;
}

.category p {
  color: #333;
}

.customer-type {
  margin-bottom: 20px;
}

.customer-type h3 {
  color: #007bff;
}
