
*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*estilo para el register*/

main.contenedorform{
    background-color: #af73d1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    padding: 10px;
    width: 90%;
    background-color: #c8a2dd;
    height: auto;
}
div.form{
    display: flex;
    padding: 10px;
    width: 90%;
    flex-direction: column;
    height: auto;
}
h2.título{
    size: 15em;
    color:#7400b8;
    margin-bottom: 15px;
    text-align: center;

}
.info{
    size: 10px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    height: 40px;
}
input{
    
    color: black;
    background-color: hsl(285, 22%, 96%);
    margin-bottom: 10px;
    width: 90%;
    height: 40px;
    text-align: center;
}
button{
    color:#2a0341;
    background-color: #b050e7;
    margin-bottom: 10px;
    height: 40px;
    text-align: left;

}
/*..........media query para tablet.....*/

@media (max-width: 768px) {
    form{
        display: flex;
        padding:5px;
        width: 90%;
        background-color: #c8a2dd;

}
 } 
/*............... Media query para desktop...........*/

@media (min-width: 769px) {

    form{
        display: flex;
        padding:5px;
        width: 90%;
        background-color: #c8a2dd;
} 
}