* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

main {
  background-color: #fff;
  padding-bottom: 30px;
}

.carousel-container {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
}

.slide {
  flex: 0 0 100%;
}

.img-carru {
  width: 100%;
  height: 400px;
}

/* Estilos para los botones de navegación (opcional) */
.carousel-controls {
  text-align: center;
}

.carousel-controls button {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

/* Estilo para los puntos indicadores (opcional) */
.carousel-indicators {
  text-align: center;
}

.carousel-indicators span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #888;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators span.active {
  background: #333;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

/* Estilo para cada pestaña de navegación */
li a {
  text-decoration: none;
  color: #fff; /* Color del texto de las pestañas */
  padding: 10px 20px; /* Espacio entre las pestañas */
  border: 2px solid #555; /* Borde de las pestañas */
  border-radius: 5px; /* Bordes redondeados de las pestañas */
  margin: 0 5px; /* Espacio entre las pestañas */
  transition: background-color 0.3s, color 0.3s;
}

li a:hover {
  background-color: #555;
  color: #fff;
}
.slide img {
  max-width: 100%;
  height: auto;
}

.carousel-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.slide {
  flex: 0 0 100%;
  max-width: 100%;
}

#mas-vendidos,
#destacados {
  text-align: center;
}

.articulos,
.productos-destacados {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.producto,
.producto-destacado {
  flex: 0 0 calc(20% - 20px);
  gap: 5px;
}

.producto img,
.producto-destacado img {
  max-width: 100%; 
  height: auto;
}

.cont-precio h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}
.producto p {
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: space-between; 
  background-color: #7400b8;
  color: #fff;
  margin-top: 0;
}

.footer-section {
  flex: 1; 
  text-align: center;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.social-icons,
.formas-pagos {
  display: flex;
  justify-content: center;
}

.social-icon,
.formas-pago {
  margin: 0 10px; /* Espacio entre los íconos de redes sociales */
}

/* Ajusta el tamaño de los íconos */
.social-icon img {
  width: 40px; /* Ancho deseado para los íconos (ajusta según el tamaño de una moneda) */
  background-color: #fff;
  height: 40px; /* Alto deseado para los íconos (ajusta según el tamaño de una moneda) */
  border-radius: 10px;
}

.formas-pago img {
  width: 60px;
  height: 50px;
  background-color: #fff;
}
header {
  background-color: #7400b8;

}

#top-header {
  display: flex;
}
#logo {
  display: flex;
  align-items: center;
}
#search-bar {
  display: flex;
  height: 45px;
}

#search-bar input {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
}

#search-bar button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
}

#icons {
  display: flex;
  justify-content: end;
  gap: 10px;
}

#icons img {
  width: 40px;
  height: 40px;
}
#icons a img:hover {
  background-color: #5390d9;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

li a {
  background-color: #5390d9;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #555;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s;
}

li a:hover {
  background-color: #5e60ce;
  color: #fff;
}

.producto,
.producto-destacado {
  text-align: center;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  background-color: #5390d9;
  max-width: 240px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
a {
  color: #333;
  text-decoration: none;
}
.producto img {
  max-width: 90%;
  margin-top: 10px;
}

.cont-precio {
  margin-top: 10px;
}

.cont-precio h3 {
  font-size: 18px;
  margin-top: 10px;
}

.cont-precio p {
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
}


@media (max-width: 380px) {
  #top-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #logo {
    display: flex;
    justify-content: center;
  }
  #logo img{
    width: 100%;
  }
#search-bar{
  justify-content: center;
    width: 80%;
}
  #icons {
    width: 90%;
    justify-content: center;
    margin-top: 10px;
  }

  nav {
    display: flex;
    flex-direction: column;
    
  }
  nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
    margin-top: 50px;
    
  }
  nav ul li {
    display: flex;
    justify-content: center;
  }
  nav ul li a {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    font-size: 15px;
  }

  footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formas-pago img,
  .social-icon img {
    width: 40px;
    height: 30px;
  }
  .social-icon img {
    width: 30px;
    height: 30px;
  }
  #user-container {
    display: flex;
    justify-content: center;
    color: #fff;
  }
  
}
@media (min-width: 381px) {
    .carousel-container {
      max-width: 90%; 
    }
    #mas-vendidos,
    #destacados {
      text-align: center;
    }
  
    .articulos,
    .productos-destacados {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; 
      margin-top: 20px;
    }
  
    .producto,
    .producto-destacado {
      flex: 0 0 calc(33.3% - 5px);
      gap: 5px;
    }
  
    .producto img,
    .producto-destacado img {
      max-width: 90%;
      height: auto;
    }
  
    .cont-precio h3 {
      font-size: 1.2rem;
      margin: 10px 0;
    }
    .producto p {
      font-weight: bold;
    }
    #top-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    #logo {
      width: 100%;
      justify-content: center;
    }
    nav {
     display: flex;
     box-sizing: border-box;
    }
    nav ul{
      box-sizing: content-box;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    nav ul a{
      display: flex;
      flex-wrap: wrap;
      flex:1;

    }
    nav ul li{
      display: flex;
      flex-wrap: wrap;
      width: auto;
    }
    #search-bar{
      display: flex;
      width: 45%;
    }
    #icons {
      width: 45%;
      gap:2%
    }
    footer{
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }
    .social-icon, .formas-pago {
      margin: unset;
  }
  #logo img{
    width: 100%;
    height: auto;
  }
  #user-container {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    margin-right: 10%;
  }
  
  }
@media (min-width: 769px) {
    header{
        display: flex;
        flex-direction: column;
    }
   #top-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3%;
   }
   #logo{
    width: 33%;
    max-height: 350px;
   }
#search-bar{
    justify-content: flex-end;
}
#search-bar {
    width: 35%;
}
   #icons{
   width: 25%;
   }
nav{
    display: flex;
    justify-content: center;
    
}
nav ul{
  display: flex;
  justify-content: center;

}
nav ul li{
  display: flex;
  align-items: center;
}
    .articulos,
    .productos-destacados{
        flex-wrap: nowrap;
    }
  
    .producto img,
    .producto-destacado img {
      max-width: 90%;
      height: auto;
    }
  
    
}
@media screen and (min-width: 990px) {
  #user-container {
    position: relative;
    top: -150px; /* Ajusta la posición vertical según tus necesidades */
    margin-right: 5%; /* Ajusta la posición horizontal según tus necesidades */
    display: flex;
    justify-content: flex-end;
    color: white;
  }
}