/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Estilos específicos del formulario */
.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container .form-label {
  margin-top: 10px;
}

.form-container .form-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container .buy-now-button {
  background-color: #7400b8;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container .buy-now-button:hover {
  background-color: #45a049;
}

.form-container form small {
  color: rgb(209, 91, 12);
}
