
*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header div{
    width: 100%;
    height: 130px;
    padding: 15px
}
main{
    background-color: #5e60ce;
    padding-bottom: 30px;
}



.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
}

.slide {
    flex: 0  0 100%;
}

.img-carru {
    width: 100%;
    height: 400px;
}

/* Estilos para los botones de navegación (opcional) */
.carousel-controls {
    text-align: center;
}

.carousel-controls button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

/* Estilo para los puntos indicadores (opcional) */
.carousel-indicators {
    text-align: center;
}

.carousel-indicators span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #888;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators span.active {
    background: #333;
}
ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

/* Estilo para cada pestaña de navegación */
li a {
    text-decoration: none;
    color: #fff; /* Color del texto de las pestañas */
    padding: 10px 20px; /* Espacio entre las pestañas */
    border: 2px solid #555; /* Borde de las pestañas */
    border-radius: 5px; /* Bordes redondeados de las pestañas */
    margin: 0 5px; /* Espacio entre las pestañas */
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para cuando se pasa el cursor sobre las pestañas */
li a:hover {
    background-color: #555; /* Cambiar el color de fondo al pasar el cursor */
    color: #fff; /* Cambiar el color del texto al pasar el cursor */
}
/* Estilo base para las imágenes del carrusel */
.slide img {
    max-width: 100%;
    height: auto;
}

/* Establece el tamaño del carrusel y el alto de las imágenes según el ancho de la ventana */
.carousel-container {
    width: 100%;
    max-width: 1200px; /* Puedes ajustar este valor según tus necesidades */
    margin: 0 auto;
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Estilos para el contenedor de productos más vendidos */
#mas-vendidos , #destacados {
    text-align: center;
}

.articulos,.productos-destacados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los productos se ajusten a la línea siguiente en pantallas pequeñas */
    margin-top: 20px;
}

.producto,.producto-destacado {
    flex: 0 0 calc(20% - 20px);
    gap:5px;
}

.producto img,.producto-destacado img {
    max-width: 100%; /* Asegura que las imágenes se ajusten al ancho del contenedor */
    height: auto;
}


.cont-precio h3{
    font-size: 1.2rem;
    margin: 10px 0;
}
.producto p {
    font-weight: bold;
    
}
/* Estilos para el footer y redes sociales */
footer {
    display: flex;
    justify-content: space-between; /* Coloca las secciones de manera horizontal y separadas */
    background-color: #7400b8;
    color: #fff;
    padding: 20px;
    margin-top: 0;
}

.footer-section {
    flex: 1; /* Distribuye el espacio de manera igual entre las dos secciones */
    text-align: center;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.social-icons, .formas-pagos {
    display: flex;
    justify-content: center;
}

.social-icon ,.formas-pago{
    margin: 0 10px; /* Espacio entre los íconos de redes sociales */
}

/* Ajusta el tamaño de los íconos */
.social-icon img {
    width: 40px; /* Ancho deseado para los íconos (ajusta según el tamaño de una moneda) */
    background-color: #fff;
    height: 40px; /* Alto deseado para los íconos (ajusta según el tamaño de una moneda) */
    border-radius: 10px;
}

.formas-pago img{
    width:60px ;
    height: 50px;
    background-color: #fff;
}
/* Estilos para el encabezado y sus elementos */
header {
    background-color: #7400b8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-header {
    display: flex;
}
#logo {
    display: flex;
    align-items: center;
    
}
#logo img {
    width: 350px;
    height: 350px;
}
#search-bar{
    display: flex;
    height: 45px;
}

#search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

#search-bar button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
}

#icons {
    display: flex;
    justify-content: end;
    gap:10px;
 }

#icons img{
    width: 40px; 
    height: 40px;
   
}
#icons a img:hover{
   background-color: #5390d9;
}

/* Estilo para la barra de navegación */
nav {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

li a {
    background-color: #5390d9;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #555;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;
}

li a:hover {
    background-color: #5e60ce;
    color: #fff;
}

  
  .producto,.producto-destacado {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: #5390d9;
    max-width: 250px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  a{
    color: #333;
    text-decoration: none;
  }
  .producto img {
    max-width: 100%;
    margin-top: 10px;
  }
  
  .cont-precio {
    margin-top: 10px;
  }
  
  .cont-precio h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .cont-precio p {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
  }
  


@media (max-width: 768px) {
    .carousel-container {
        max-width: 90%; /* Cambia el tamaño del contenedor para pantallas más pequeñas */
    }
    #mas-vendidos , #destacados {
        text-align: center;
    }
    
    .articulos,.productos-destacados {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Permite que los productos se ajusten a la línea siguiente en pantallas pequeñas */
        margin-top: 20px;
    }
    
    .producto,.producto-destacado {
        flex: 0 0 calc(33.3% - 5px);
        gap:5px;
    }
    
    .producto img,.producto-destacado img {
        max-width: 90%; /* Asegura que las imágenes se ajusten al ancho del contenedor */
        height: auto;
    }
    
    
    .cont-precio h3{
        font-size: 1.2rem;
        margin: 10px 0;
    }
    .producto p {
        font-weight: bold;
        
    }
    #top-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #logo {
        justify-content: center;
    }
    nav{
        margin-top: 100px;
        width: 100%;
    }
    #search-bar input {
        width: 40%; 
    }
    #icons {
        display: flex;
        position: relative;
        bottom:70px
    }
}
/* Media query para pantallas con un ancho de 380px o menos */
@media (max-width: 380px) {
    #top-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #logo {
        text-align: center;
    }

    #search-bar input {
        width: 75%;
    }
    #icons {
        display: flex;
        justify-content: center;
        position: relative;
        top:0;
        
    }

    #icons img {
        width: 30px;
        height: 30px;
        padding: 5px;
        gap: 10px;
    }
    nav{
        display: flex;
        flex-direction: column;
        margin-top:150px;
    }
    nav ul {
       display: flex;
       flex-direction: column;
      width: 100%;
      gap: 2px;
        
    }
    nav ul li{
        display: flex;
    }
    nav ul li a{
        display: flex;
        flex-direction: column;
        width: 90%;
       text-align: center;
    }

    footer {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* Redefinir el tamaño de los íconos para ajustarlos a la pantalla más pequeña */
    .formas-pago img, .social-icon img {
        width: 40px;
        height: 30px;
    }
    .social-icon img{
        width: 30px;
        height: 30px;
    }
}
@media (min-width: 768px) {
    
}