<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title>TheGameStore</title>
  </head>
  <body>
    <%- include('./partials/header') %>

    <!-- Main content -->
    <main>
      <div class="carousel-container">
        <div class="carousel">
          <div class="slide">
            <img
              class="img-carru"
              src="/img/22-08-2023-10-08-29-Banner 1 (1).jpg"
              alt="Imagen 1"
            />
          </div>
          <div class="slide">
            <img
              class="img-carru"
              src="/img/4kinggstonnuevo (1).jpg"
              alt="Imagen 2"
            />
          </div>
          <div class="slide">
            <img class="img-carru" src="/img/alanwaque.jpg" alt="Imagen 3" />
          </div>
        </div>
        <button id="prev">Anterior</button>
        <button id="next">Siguiente</button>
      </div>

      <!-- Sección de artículos más vendidos -->
      <section id="mas-vendidos">
        <h2>Artículos más vendidos</h2>
        <div class="articulos">
          <a href="/product">
            <div class="producto">
              <img src="/img/producto1.jpeg" alt="Producto 1" />
              <div class="cont-precio">
                <h3>Nombre del Producto 1</h3>
                <p>Precio: $XX.XX</p>
              </div>
            </div>
          </a>
          <a href="#">
          <div class="producto">
            <img src="/img/producto2.jpeg" alt="Producto 2" />
            <div class="cont-precio">
              <h3>Nombre del Producto 2</h3>
              <p>Precio: $XX.XX</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="producto">
            <img src="/img/producto3.jpeg" alt="Producto 3" />
            <div class="cont-precio">
              <h3>Nombre del Producto 3</h3>
              <p>Precio: $XX.XX</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="producto">
            <img src="/img/producto4.jpeg" alt="Producto 4" />
            <div class="cont-precio">
              <h3>Nombre del Producto 4</h3>
              <p>Precio: $XX.XX</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="producto">
            <img src="/img/producto5.jpeg" alt="Producto 5" />
            <div class="cont-precio">
              <h3>Nombre del Producto 5</h3>
              <p>Precio: $XX.XX</p>
            </div>
          </div>
        </a>
        </div>
      </section>

      <!-- Sección de productos destacados -->
      <section id="destacados">
        <h2>Productos destacados</h2>
        <div class="productos-destacados">
          <a href="#">
          <div class="producto-destacado">
            <img src="/img/producto1.jpeg" alt="Producto 1" />
            <div class="cont-precio">
              <h3>Nombre del Producto 1</h3>
              <p>Precio: $XX.XX</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="producto-destacado">
            <img src="/img/producto2.jpeg" alt="Producto 2" />
            <div class="cont-precio">
              <h3>Nombre del Producto 2</h3>
              <p>Precio: $XX.XX</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="producto-destacado">
            <img src="/img/producto3.jpeg" alt="Producto 3" />
            <div class="cont-precio">
              <h3>Nombre del Producto 3</h3>
              <p>Precio: $XX.XX</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="producto-destacado">
            <img src="/img/producto4.jpeg" alt="Producto 4" />
            <div class="cont-precio">
              <h3>Nombre del Producto 4</h3>
              <p>Precio: $XX.XX</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="producto-destacado">
            <img src="/img/producto5.jpeg" alt="Producto 5" />
            <div class="cont-precio">
              <h3>Nombre del Producto 5</h3>
              <p>Precio: $XX.XX</p>
            </div>
          </div>
        </a>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %> 
    <script src="./carru.js"></script>
  </body>
</html>
