<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header.ejs') %>
    <!-- Main content -->
    <main>
      <form class="loginForm" action="" method="get">
        <h2 id="title">Inicio de sesión</h2>
        <br />

        <input
          type="email"
          name="mail"
          id="correo"
          placeholder="Correo Electrónico"
          required
        />
        <br />

        <input
          type="password"
          name="pass"
          id="clave"
          placeholder="Contraseña"
          required
        />
        <br />

        <button type="submit">Iniciar Sesión</button> <br />
      </form>

      <p id="signUp">
        <a href="/register">Cree una cuenta</a>
      </p>

      <p id="resetPass">
        <a href="">¿Olvidó su contraseña?</a>
      </p>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>

  </body>
</html>
