<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/nosotros.css" type="text/css" />
   
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <title>TheGameStore</title>
  </head>
  <body>
    <%- include('./partials/header') %>
    <div class="nosotros">
      <h1>Sobre Nosotros</h1>
      <h2>The Game Store</h2>
      <h3><p> sitio de ecommerce Game Store ofrecerá una amplia y variada gama de productos e insumos computacionales gamer, abarcando las siguientes categorías principales:</p>
        <br>
        <p><h2>Hardware </h2> Tarjetas gráficas, procesadores, memoria RAM, disco duro, fuente de alimentación, monitores, teclados y mouse, etc.</p>
        <br>
        <p><h2>Software </h2>Una interesante selección de juegos, tanto nuevos como clásicos.</p>
        <br>
        <p><h2>Accesorios </h2>Productos adicionales que mejoran la experiencia de juego, tales como auriculares, micrófonos, sillas gamer y otros.</p>
        <br>
        <p><h2>Otros Accesorios </h2>También ofrecerá una variedad de otros accesorios adicionales para gaming, tales como coolers, wattercooling, iluminación RGB y otros.</p></h3>
        <br>
        <h2>Otros Servicios</h2>
        
        <p><h4>Garantía sobre todos los productos.</h4></p>
        <p><h4>Envío a todo el país.</h4></p>
        <p><h4>Pago seguro bajo todas las modalidades de financiamiento.</h4></p>
        <p><h4>Ensamble PCs personalizadas.</h4></p>
        
        <br>
        <h2>Nuestros Clientes Objetivos</h2>
        
             
        <p><h3>Jugadores Casuales:</h3> Este grupo representa la mayor parte del mercado gamer. Son jugadores que juegan videojuegos de forma ocasional, para divertirse o pasar el tiempo libre.</p> 
        <br>
        <p><h3>Jugadores Aficionados:</h3> Este grupo está formado por jugadores que juegan videojuegos con más frecuencia, pero que no lo hacen de forma profesional.</p> 
        <br>
        <p><h3>Jugadores Profesionales:</h3> Este grupo está formado por jugadores que compiten a nivel profesional en torneos de videojuegos.</p> 
    
    
    
    
      </div>
    <!-- Incluye el pie de página -->
    <%- include('./partials/footer') %>
  </body>
</html>
