<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/nosotros.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title>TheGameStore</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="nosotros-container">
        <div class="nosotros">
            <h1>Sobre Nosotros</h1>
            <h2>The Game Store</h2>
            <p>
                El sitio de ecommerce Game Store ofrece una amplia y variada gama de productos e insumos computacionales gamer, abarcando las siguientes categorías principales:
            </p>
            <div class="category">
                <h3>Hardware</h3>
                <p>Tarjetas gráficas, procesadores, memoria RAM, disco duro, fuente de alimentación, monitores, teclados y mouse, etc.</p>
            </div>
            <div class="category">
                <h3>Software</h3>
                <p>Una interesante selección de juegos, tanto nuevos como clásicos.</p>
            </div>
            <div class="category">
                <h3>Accesorios</h3>
                <p>Productos adicionales que mejoran la experiencia de juego, tales como auriculares, micrófonos, sillas gamer y otros.</p>
            </div>
            <div class="category">
                <h3>Otros Accesorios</h3>
                <p>También ofrecerá una variedad de otros accesorios adicionales para gaming, tales como coolers, watercooling, iluminación RGB y otros.</p>
            </div>
            <h2>Otros Servicios</h2>
            <div class="category">
              <h3>Garantía sobre todos los producto</h3>
          </div>
          <div class="category">
            <h3>Envío a todo el país.</h3>
        </div>
        <div class="category">
          <h3>Pago seguro bajo todas las modalidades de financiamiento.</h3>
      </div>
      <div class="category">
        <h3>Ensamble PCs personalizadas.</h3>
    </div>
            <h2>Nuestros Clientes</h2>
            <div class="customer-type">
                <h3>Jugadores Casuales:</h3>
                <p>Este grupo representa la mayor parte del mercado gamer. Son jugadores que juegan videojuegos de forma ocasional, para divertirse o pasar el tiempo libre.</p>
            </div>
            <div class="customer-type">
                <h3>Jugadores Aficionados:</h3>
                <p>Este grupo está formado por jugadores que juegan videojuegos con más frecuencia, pero que no lo hacen de forma profesional.</p>
            </div>
            <div class="customer-type">
                <h3>Jugadores Profesionales:</h3>
                <p>Este grupo está formado por jugadores que compiten a nivel profesional en torneos de videojuegos.</p>
            </div>
        </div>
    </div>
    <!-- Incluye el pie de página -->
    <%- include('./partials/footer') %>
</body>
</html>
