<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  <link rel="stylesheet" href="/css/register.css" type="text/css" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  />
  <title>TheGameStore</title>
</head>
<body>
  <%- include('./partials/header') %>


  <main class="contenedorform">
    <form action="/registro" method="post">
      <div class="form">
        <h2 class="título">Registrarse</h2>
        <p>
          <label class="info" for="nombre"> Nombre:</label>
          <input type="text" name="usuario" id="nombre" required>
        </p>
        <p>
          <label class="info" for="apellido"> Apellido:</label>
          <input type="text" name="apellido" id="apellido" required>
        </p>
        <p>
          <label class="info" for="email"> Email:</label>
          <input type="email" name="email" id="email" required>
        </p>
        <p>
          <label class="info" for="telefono"> Número de teléfono </label>
          <input type="tel" name="telefono" id="telefono" required>
        </p>
  
        <p>
          <label class="info" for="contraseña"> Contraseña:</label>
          <input type="password" name="contraseña" id="contraseña" required>
        </p>
  
        <p>
          <label class="info" for="repetirContraseña"> Repetir contraseña:</label>
          <input type="password" name="repetirContraseña" id="repetircontraseña" required>
        </p>
        <button id="register" class="info" type="submit"> Registrarme </button>
      </div>
    </form>
  </main>
  

  </main>

  <!-- Footer -->
  <%- include('./partials/footer') %>

</body>

</html>