<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/userForm.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <script src="/js/registroValidation.js"></script>
    <title>TheGameStore</title>
  </head>
    <body>
      <%- include('./partials/header') %>
    <div class="container">
      <h1>Formulario Para Registro de Usuarios</h1>
      <form action="/users/create" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <label for="firstName" class="form-label">Nombre:</label>
        <input type="text" id="firstName" name="firstName" placeholder="Ej: Juan" class="form-input">
        <small id="firstNameError" class="error-message"></small>
    
        <label for="lastName" class="form-label">Apellido:</label>
        <input type="text" id="lastName" name="lastName" placeholder="Perez" class="form-input">
        <small id="lastNameError" class="error-message"></small>
    
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" placeholder="usuario@correo.com" class="form-input">
        <small id="emailError" class="error-message"></small>
    
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Ingrese una contraseña" class="form-input">
        <small id="passwordError" class="error-message"></small>
    
        <label for="confirmPassword" class="form-label">Repetir Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repita la contraseña" class="form-input">
        <small id="confirmPasswordError" class="error-message"></small>
    
        <label for="rol" class="form-label">Rol:</label>
        <select name="rol_id" id="rol_id" class="form-input">
            <option value="1">Cliente</option>
        </select>
    
        <label for="image" class="form-label">Imagen de Perfil:</label>
        <input type="file" id="image" name="image" class="form-input">
        <small id="imageError" class="error-message"></small>
    
        <button type="submit" class="buy-now-button">Registrar Usuario</button>
    </form>
    
    </div>
    <!-- Incluye el pie de página -->
    <%- include('./partials/footer') %>
  </body>
</html>
