<footer>
    <div class="footer-section">
      <h4>Medios de pago</h4>
      <div class="formas-pagos">
        <a href="#" class="formas-pago"
          ><img src="/img/pagos/visa_card.png" alt="tarjeta visa"
        /></a>
        <a href="#" class="formas-pago"
          ><img src="/img/pagos/mastercard.png" alt="mastercard"
        /></a>
        <a href="#" class="formas-pago"
          ><img src="/img/pagos/amex_card.png" alt="amex card"
        /></a>
        <a href="#" class="formas-pago"
          ><img src="/img/pagos/paypal.png" alt="paypal"
        /></a>
        <a href="#" class="formas-pago"
          ><img src="/img/pagos/gpay.png" alt="gpay"
        /></a>
      </div>
    </div>
    <div class="footer-section">
      <h4>Síguenos en nuestras redes</h4>
      <div class="social-icons">
        <a href="#" class="social-icon"
          ><img src="/img/redes/facebook.png" alt="Facebook"
        /></a>
        <a href="#" class="social-icon"
          ><img src="/img/redes/x.png" alt="Twitter"
        /></a>
        <a href="#" class="social-icon"
          ><img src="/img/redes/instagram.png" alt="Instagram"
        /></a>
        <a href="#" class="social-icon"
          ><img src="/img/redes/linkedin.png" alt="LinkedIn"
        /></a>
        <a href="#" class="social-icon"
          ><img src="/img/redes/youtube.png" alt="YouTube"
        /></a>        
      </div>
      <!-- Contenido de la sección de redes sociales -->
    </div>
  </footer>
