<header class="contenedor">
    <div id="top-header">
      <div id="logo">
        <a href="/">
            <img src="/img/logo.png" alt="Logo de TheGameStore" />
        </a>
    </div>
      <div id="search-bar">
        <input type="text" placeholder="Buscar..." />
        <button type="submit">Buscar</button>
      </div>
     <div id="icons">
      <!-- <a href="#">
          <img src="/img/localizacion.png" alt="localizacion" />
          <span>ubicación</span>
        </a>
      -->
        <a href="/users/perfil">
          <img src="/img/usuario.png" alt="user" />
          <span>usuario</span>
        </a>
        <a href="/contacts/create">
          <img src="/img/burbuja-de-dialogo.png" alt="chat" />
          <span>Contacto</span>
        </a>
        <a href="/cart">
          <img src="/img/carrito-de-compras.png" alt="carrito-de-compras" />
          <span>carrito</span>
        </a>
 <!--        <a href="#">
          <img src="/img/entrega.png" alt="envio" />
          <span>envios</span>
        </a> -->
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="/products">Productos</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Categorías</a>
          <div class="dropdown-content">
            <% categorias.forEach(categoria => { %>
              <a href="/products/categoria/<%= categoria.id %>"><%= categoria.nombre %></a>
            <% }); %>
          </div>
        </li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="/contacts/create">Contacto</a></li>
      </ul>
    </nav>
  </header>